.linha{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    background-color: #fff;
}

h1{
    text-align: center;
    color: #fff
}

.App{
    margin: auto;
    max-width: 900px;
}

.fundo{
    background-color: #2A2C36
}
